<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <property name="loggingPath" value="${server.config.dir}/logs/FSIMS" />

    <appender name="DEBUG-APPENDER"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${loggingPath}/debug.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${loggingPath}/debug.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="ERROR-APPENDER"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${loggingPath}/error.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
       
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${loggingPath}/error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="govonca.lrc.mnrf.fsims" level="trace" additivity="false">
        <appender-ref ref="DEBUG-APPENDER" />
    </logger>

    <root level="error">
        <appender-ref ref="ERROR-APPENDER" />
    </root>
</configuration>